<%= form_tag("/admin/translations", method: "get", class: "filter_form") do %>
  <div class="filter_form_field">
    <%= label_tag(:key, "Identifier contains") %>
    <%= text_field_tag(:key, params[:key]) %>
  </div>
  <div class="filter_form_field">
    <%= label_tag(:en_value, "English text contains") %>
    <%= text_field_tag(:en_value, params[:en_value]) %>
  </div>
  <div class="filter_form_field">
    <%= label_tag(:id_value, "Indonesian text contains") %>
    <%= text_field_tag(:id_value, params[:id_value]) %>
  </div>
  <div class="filter_form_field">
    <%= label_tag(:empty_only, "show untranslated or empty only") %>
    <%= check_box_tag :empty_only, params[:empty_only], params[:empty_only].present? %>
  </div>
  <div class="buttons">
    <input type="submit" value="Filter">
    <a class="clear_filters_btn" href="/admin/translations">Clear Filters</a>
  </div>
<% end %>
